name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main  # Ajuste se sua branch principal tiver outro nome

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22' # Use a versão do Node.js especificada no seu projeto

    - name: Install dependencies
      run: npm ci

    - name: Build project
      run: npm run build

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        # O log do build confirmou que a pasta de saída é apenas 'dist'
        publish_dir: ./dist
